{% extends "layout.html.j2" %}
{% set active_page="home/" %}
{% block main %}
    <div class="container container--padding">
        <div class="d-flex mb-3 justify-content-center" id="calculator_app_button">
            <div>
                <a href="{{ calculator_prefix }}"
                   role="button"
                   class="btn btn-outline-primary">
                    <div class="d-flex d-row">
                        <i class="icon-calculator"></i><span class="pl-1">{%trans%}Calculator{%endtrans%}
                </div>
            </a>
        </div>
    </div>
    <div class="split">
        <div class="col-lg-8 col-md-7 pl-0">
            <h2 class="paragraph-title">{%trans%}Introduction{%endtrans%}</h2>
            <br>
            <div>
                <p>
                    {%trans%}FARC is a risk assessment tool developed to model the concentration of viruses in enclosed spaces, in order to inform space-management decisions.
                    It does this by simulating the long-range airborne spread SARS-CoV-2 virus in a finite volume, assuming homogenous mixing, and it estimates the risk of COVID-19 airborne transmission therein.
                Please see the{%endtrans%} <a href="/about">{%trans%}About{%endtrans%}</a> {%trans%}page for more details on the methodology, assumptions and limitations of FARC.{%endtrans%}
            </p>
            <p>
           {%trans%}FARC is based on CARA tool and released under Apache 2.0 licence.{%endtrans%} </a>
       {%trans%}We wish to to thank the CARA team from CERN in Geneva and all around the world for their great work on this tool.{%endtrans%}
    </p>
    <br>
</div>
</div>
<div class="align-self-center">
    <img src="static/images/CARA_1_Vs3_Colour.jpg" class="cara_home_image">
</div>
</div>
<br>
<div id="apps_section" class="d-none">
    <div class="d-flex flex-row">
        <h2 class="paragraph-title pr-4 align-self-center">{%trans%}Apps:{%endtrans%}</h2>
        <br>
        <div class="pr-3">
            <a href="{{ calculator_prefix }}"
               role="button"
               class="btn btn-lg btn-outline-primary">
                <div class="d-flex d-row">
                    <i class="icon-calculator"></i><span class="pl-2">{%trans%}Calculator{%endtrans%}
            </div>
        </a>
    </div>
    <br>
    <hr width="95%">
</div>
<br>
<div>
    <h2 class="paragraph-title">{%trans%}Information{%endtrans%}</h2>
    <br>
    <p>
        {%trans%}FARC - Flow-R Airborne Risk calculator{%endtrans%}
        <br>
        {%trans%}© Copyright 2022 Ingenica. All rights not expressly granted are reserved.{%endtrans%}
        <br>
        {%trans%}Licensed under the Apache License, Version 2.0{%endtrans%}
        <br>
        {%trans%}based on:{%endtrans%}
        <br>
        {%trans%}CARA – COVID Airborne Risk Assessment tool{%endtrans%}
        <br>
        {%trans%}© Copyright 2020-2021 CERN. All rights not expressly granted are reserved.{%endtrans%}
        <br>
        {%trans%}Licensed under the Apache License, Version 2.0{%endtrans%}
        <br>
        {%trans%}You may not use this file except in compliance with the License.{%endtrans%}
        <br>
        {%trans%}You may obtain a copy of the License at{%endtrans%}
        <br>
        <a href=http://www.apache.org/licenses/LICENSE-2.0><i>http://www.apache.org/licenses/LICENSE-2.0</i></a>
        <br>
        {%trans%}Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and limitations under the License.{%endtrans%}
    </p>
</div>
{% endblock main %}
