{% extends "layout.html.j2" %}
{% set DEBUG=False %}
{% set active_page="multi_room/" %}
{% block extra_headers %}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/multi_room.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="/static/css/form.css">
{% endblock extra_headers %}
{% block body_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
  <script src="/static/js/multi_room_form.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock body_scripts %}
{% block main %}
  <span class="cara_version">v{{ calculator_version }}</span>
  <span class="ml-2 feedback">{{ _("Please send feedback to ")}}<a href="mailto:Flow-R-dev@ingenica.fr">Flow-R-dev@ingenica.fr</a></span>
  <header class= "bg-light">
    <div class="container container--padding">
      <div class="d-flex header-height">
        <h1 class="align-self-center">{{ _("FARC Expert")}}</h1>
        <img src="/static/images/Logo_Flow-R_Couleur@2x.png"
             class="logo_form align-self-center ml-3">
      </div>
    </div>
  </header>
  <form id="covid_calculator"
        name="covid_calculator"
        action="{{ calculator_prefix }}/multi_room_report"
        method="POST">
    {{ xsrf_form_html }}
    <input type="hidden"
           name="calculator_version"
           value="{{ calculator_version }}">
    <div id="carousel"
         class="carousel slide"
         data-interval="false"
         data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
      </ol>
      <a class="carousel-control-prev"
         href="#carousel"
         role="button"
         type="button"
         data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next"
         href="#carousel"
         role="button"
         type="button"
         data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container container--padding">
            <br>
            <h1>{{ _("Instructions for use")}}</h1>
            <br>
            {{_("Le calculateur FARC expert se base sur le modèle du CERN , n'hésitez pas à consulter l'article disponible ici :")}}
            <a href="https://doi.org/10.1098/rsfs.2021.0076"> {{_("Modélisation de la transmission aéroportée du SARS-CoV-2 en utilisant CARA: évaluation des risques pour les espaces fermés.")}}</a>
            <br>
            {{_("Le calculateur expert permet d'étendre le modèle mono-évènement du FARC classique à une bâtiment entier occupé par plusieurs personnes ayant des emplois du temps différents et des activité différentes.
            Pour cela, il vous sera demandé d'entrer d'abord les paramètres généraux de la simulation comme le type de variant ou la localisation. Puis il vous sera demandé d'entrer la configuration de chaque pièce constituant votre simulation et enfin les paramètres de chaque personne et leur emploi du temps.
            Pour connaître le détail de chaque paramètre, n'hésitez pas à consulter le mode d'emploi détaillé du FARC :")}} 
            <a href="/calculator/user-guide">{{_("Mode d'emploi du FARC")}}</a>
            <br>
            {{_("Le calculateur divise la journée en petits évènements suivant les emplois du temps, puis suppose que chaque personne est contaminée tour à tour et calcule le nombre de nouveaux cas que l'on peut attendre à la fin de la journée. Les résultats affichent une moyenne de nouveaux cas attendus ainsi que la personne qui est susceptible de contaminer le plus de personnes.
            Des résultats par pièce sont aussi disponibles avec la dose de virus infectieux moyenne et maximale transmise. Ces résultats permettent de cibler les lieux dans un bâtiment qui présentent le plus de risque et de connaître les parcours de personnes les plus contaminants. En raison du nombre de calculs effectués, la génération des résultats peut prendre un certain temps.")}}
          </div>
          <div class="center">
            <button class="btn btn-primary bigButton"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseDisclaimer"
                    aria-expanded="false"
                    aria-controls="collapseDisclaimer">
              {{ _("Disclaimer")}}
            </button>
          </div>
          <div class="collapse container container--padding" id="collapseDisclaimer">{{ text_blocks['Disclaimer'] }}</div>
          <div class="container container--padding">
            <h3>{{ _("Recommandations")}}</h3>
            <br>
            <p>
            <ul>
              <li>{{_("Il n'est pas recommandé de multiplier les évènements : le calcul effectué utilise des approximations pour garantir un résultat dans un temps acceptable, multiplier les évènements de courte durée risque de créer des erreurs de calcul")}}</li>
              <li>{{_("Un grand nombre de pièces, de personnes et d'évènements augmente grandement le temps de calcul, n'hésitez pas à grouper les personnes en utilisant le paramètre 'Nombre' dans le formulaire sur les personnes.")}}</li>
              <li>{{_("Le calculateur FARC donne des recommandations sur les personnes et les lieux à risque mais ne peut pas être considéré comme un outil entièrement approuvé et fiable car il n'a pas reçu de validation par les autorités compétentes")}}</li>
            </ul>
            </p>
          </div>
          <div class="container container--padding">
            <h3>{{ _("Problèmes rencontrés")}}</h3>
            <br>
            <p>
            <ul>
              <li>{{_("Appuyer sur l'envoi du formulaire ne fait rien")}}</li>
            </ul>
            {{_("Si envoyer le formulaire ne marche pas, il s'agit sans doute qu'un paramètre a mal été entré quelque part. Veuillez vérifier les données entrées.")}}
            <br>
            <br>
            <ul>
              <li>{{_("Je rencontre une erreur 'TimeOut' ou le calcul prend du temps")}}</li>
            </ul>
            {{_("Il est possible que vous tentiez d'effectuer une simulation trop lourde ou que d'autres utilisateurs effectuent des calculs coûteux sur nos serveurs en même temps. N'hésitez pas à réessayer plus tard ou à simplifier votre requête.")}}
            <br>
            <br>

            <ul>
              <li>{{_("J'ai rencontré un bug, les résultats sont étranges ou j'ai une question supplémentaire")}}</li>
            </ul>
            {{_("N'hésitez pas à nous contacter et à nous donner un retour à l'adresse suivante :")}}
            <a href="mailto:Flow-R-dev@ingenica.fr">Flow-R-dev@ingenica.fr</a>
            {{_("Nos équipes feront le maximum pour répondre à votre demande ou pour résoudre votre problème au plus vite")}}
            <br>
            <br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container container--padding">
            <div id="general_data_form">
              <h1>{{ _("General options")}}</h1>
              <br>
              <div id ="general_data">
                <div class="form-group">
                  <b>
                    <label class="col-form-label">{{ _("Simulation name:")}}</label>
                  </b>
                  <input type="text"
                         class="col-sm-12 form-control"
                         name="simulation_name"
                         id="simulation_name"
                         value="{{ _(default.simulation_name)}}"
                         placeholder="{{ _(default.simulation_name)}}">
                </div>
                <div class="form-group">
                  <b>
                    <label class="col-form-label">{{ _("Simulation description:")}}</label>
                  </b>
                  <input type="text"
                         class="col-sm-12 form-control"
                         name="simulation_description"
                         id="simulation_description">
                </div>
                <hr width="80%">
                <b>{{ _("Virus data:")}}</b>
                <div data-tooltip="{{ _(TOOLTIPS.virus_data)}}">
                  <span class="tooltip_text">?</span>
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-5">
                    <label class="col-form-label">{{ _("Variant:")}}</label>
                  </div>
                  <div class="col-sm-7">
                    <select id="virus_type" name="virus_type" class="form-control">
                      {% for key in default.viruses.keys()%}
                        {% if key != default.virus_type %}
                          <option value="{{ key }}">{{ _(default.viruses[key])}}
                          </option>
                        {% endif %}
                      {% endfor %}
                      <option selected value="{{ default.virus_type }}">
                        {{ _(default.viruses[default.virus_type])}}
                      </option>
                    </select>
                  </div>
                </div>
                <hr width="80%">
                
                <b>
                  <label class="col-form-label">{{ _("Location :")}}</label>
                </b>
                <div class="form-group row">
                  <div class="col-sm-5">
                    <label class="col-form-label">{{ _("Geographic location:")}}</label>
                  </div>
                  <div class="col-sm-7 align-self-center">
                    <select id="location_select"
                            form="not-submitted"
                            class="form-control"
                            name="location_select"
                            required>
                    </select>
                  </div>
                </div>
                    <hr width="80%">

                  <div class="form-group row">
                  <div class="col-sm-5"><label class="col-form-label"><b>{{_("Which month is the event?")}}</b></label></div>
                  <div class="col-sm-7 align-self-center">
                  <select id="event_month" name="event_month" class="form-control" required>
                  {% set months = MONTH_NAMES.items() | list %}
                    {% for month in months %}
                      {% if month[0] == default.event_month %}
                        <option value = {{month[0]}} selected> {{_(month[1])}} </option>
                      {% else %}
                        <option value = {{month[0]}}> {{_(month[1])}} </option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  </div>
                  </div>
                <div id="location_div" class="location_div">
                  <!--
                        This block allows us to have hidden input values which are retained during forward/back navigation, as per
                        https://stackoverflow.com/a/6384276/741316
                        -->
                  <input type="text" id="location_name" name="location_name" value="{{ default.location_name }}">
                  <input type="text" id="location_latitude" name="location_latitude" value="{{ default.location_latitude }}">
                  <input type="text" id="location_longitude" name="location_longitude" value="{{ default.location_longitude }}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container container--padding">
            <h1>
              {{_("Rooms")}}
            </h1>
            <br>
            <div id="Room_list">
              <div id="Room_to_clone" class="d-none">
                <div id="room_id" class="form-group row">
                  <b>{{ _("Room")}}</b>
                </div>
                <br>
                <div class="form-group row">
                <div class = "col-sm-6">
                    <label for="type_name" class="col-form-label">{{ _("Room name:")}}</label>
                    </div>
                    <div class="col-sm-6 ">
                  <input type="text"
                         id="type_name"
                         class="form-control"
                         name="type_name"
                         placeholder="{{ _(default.room_number)}}"
                         value="{{ _(default.type_name)}}">
                         </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="room_volume" class="col-form-label">
                      {{ _("Room volume:")}}
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <input type="number"
                           step="any"
                           id="room_volume"
                           class="non_zero form-control"
                           name="room_volume"
                           placeholder="{{ _(PLACEHOLDERS.room_volume)}}"
                           min="0"
                           value="{{ default.volume }}"
                           required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="split col-sm-12">
                    <div class>
                      {{ _("Heating/Air conditionning system in use:")}}
                    </div>
                    <div>
                      <input class="ml-2 heating_option"
                             type="radio"
                             id="heating_no"
                             name="room_heating_option"
                             value='0'>
                      <label for="heating_no">
                        {{ _("No")}}
                      </label>
                      <input class="ml-2 heating_option"
                             type="radio"
                             id="heating_yes"
                             name="room_heating_option"
                             value='1'>
                      <label for="heating_yes">
                        {{ _("Yes")}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="split col-sm-12">
                    <label for="humidity">
                      {{ _("Humidity:")}}
                    </label>
                    <input type="number"
                           step="0.1"
                           id="humidity"
                           class="form-control"
                           name="humidity"
                           min="0"
                           max="1"
                           value="{{default.humidity}}"
                           required>
                    <label for="inside_temp">
                      {{ _("Temperature:")}}
                    </label>
                    <input type="number" step="any" id="inside_temp" class="form-control" name="inside_temp" value="{{ default.inside_temp }}" required>
                  </div>
                </div>
                <div class='sub_title'>
                  {{ _("Ventilation type:")}}
                </div>
                <div class="split">
                  <div>
                    <input type="radio"
                           class="ml-2 ventilation_option"
                           id="no_ventilation"
                           name="ventilation_type"
                           value='no_ventilation'>
                    <label for="no_ventilation">
                      {{ _("No ventilation")}}
                    </label>
                    <input class="ml-2 ventilation_option"
                           type="radio"
                           id="mechanical_ventilation"
                           name="ventilation_type"
                           value='mechanical_ventilation'
                           data-enables="#DIVmechanical_ventilation">
                    <label for="mechanical_ventilation">
                      {{ _("Mechanical")}}
                    </label>
                    <input type="radio"
                           class="ml-2 ventilation_option"
                           id="natural_ventilation"
                           name="ventilation_type"
                           value='natural_ventilation'
                           data-enables="#DIVnatural_ventilation"
                           data-toggle="modal"
                           data-target="#warning_modal">
                    <label for="natural_ventilation">
                      {{ _("Natural")}}
                    </label>
                    <br>
                  </div>
                </div>
                <div id="DIVmechanical_ventilation"
                     class="tabbed DIVmechanical_ventilation">
                  <div class="split">
                    <div>
                      <input type="radio"
                             id="mech_type_air_supply"
                             name="mechanical_ventilation_type"
                             value="mech_type_air_supply"
                             class="center_radio mech_type_option"
                             onclick="require_fields(this)"
                             tabindex="-1">
                      <label for="mech_type_air_supply" class="col-form-label ml-2">
                        {{ _("Air supply flow rate")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             step="any"
                             id="air_supply"
                             class="non_zero form-control"
                             name="air_supply"
                             min="0"
                             placeholder="{{ _(PLACEHOLDERS.flow_rate)}}"
                             data-has-radio="#mech_type_air_supply"
                             value="{{ default.air_supply }}">
                      <br>
                    </div>
                  </div>
                  <div class="split">
                    <div>
                      <input type="radio"
                             id="mech_type_air_changes"
                             name="mechanical_ventilation_type"
                             value="mech_type_air_changes"
                             class="center_radio mech_type_option"
                             onclick="require_fields(this)"
                             tabindex="-1">
                      <label for="mech_type_air_changes" class="col-form-label ml-2">
                        {{ _("Air changes per hour")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             step="any"
                             id="air_changes"
                             class="non_zero form-control"
                             name="air_changes"
                             min="0"
                             placeholder="{{ _(PLACEHOLDERS.air_exchange)}}"
                             data-has-radio="#mech_type_air_changes"
                             value="{{ default.air_changes }}">
                      <br>
                    </div>
                  </div>
                </div>
                <div id="DIVnatural_ventilation" class="tabbed DIVnatural_ventilation">
                  <div class="split">
                    <div>
                      <label class="col-form-label">
                        {{ _("Number of windows:")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             id="windows_number"
                             class="non_zero form-control"
                             name="windows_number"
                             placeholder="{{ _(PLACEHOLDERS.number)}}"
                             min="1"
                             value="{{ default.windows_number }}">
                      <br>
                    </div>
                  </div>
                  <div class="split">
                    <div>
                      <label class="col-form-label">
                        {{ _("Height of window:")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             step="any"
                             id="window_height"
                             class="non_zero form-control"
                             name="window_height"
                             placeholder="{{ _(PLACEHOLDERS.height)}}"
                             min="0"
                             value="{{ default.window_height }}">
                      <br>
                    </div>
                  </div>
                  <div class='sub_title'>
                    {{ _("Window type:")}}
                  </div>
                  <input class="ml-2 window_type_option"
                         type="radio"
                         id="window_sliding"
                         name="window_type"
                         value="window_sliding"
                         onclick="require_fields(this)">
                  <label for="window_sliding">
                    {{ _("Sliding / Side-Hung")}}
                  </label>
                  <input class="ml-2 window_type_option"
                         type="radio"
                         id="window_hinged"
                         name="window_type"
                         value="window_hinged"
                         onclick="require_fields(this)">
                  <label for="window_hinged">
                    {{ _("Top- or Bottom-Hung")}}
                  </label>
                  <br>
                  <div class="split">
                    <div>
                      <label class="col-form-label">
                        {{ _("Width of window:")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             step="any"
                             id="window_width"
                             class="non_zero disabled form-control"
                             name="window_width"
                             placeholder="{{ _(PLACEHOLDERS.width)}}"
                             min="0"
                             data-has-radio="#window_hinged"
                             value="{{ default.window_width }}">
                      <br>
                    </div>
                  </div>
                  <div class="split">
                    <div>
                      <label class="col-form-label">
                        {{ _("Opening distance:")}}
                      </label>
                    </div>
                    <div>
                      <input type="number"
                             step="any"
                             id="opening_distance"
                             class="non_zero form-control"
                             name="opening_distance"
                             placeholder="{{ _(PLACEHOLDERS.opening_distance)}}"
                             min="0"
                             value="{{ default.opening_distance }}">
                      <br>
                    </div>
                  </div>
                  <div class='sub_title'>
                    {{ _("Window open")}}:
                    <div data-tooltip="{{ _(TOOLTIPS.window_open)}}">
                      <span class="tooltip_text">?</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <span class="tabbed center_radio">
                      <input type="radio"
                             class="window_open_option"
                             id="windows_open_permanently"
                             name="window_opening_regime"
                             value="windows_open_permanently"
                             onclick="require_fields(this)">
                    </span>
                    <label for="windows_open_permanently" class="col-form-label ml-2">
                      {{ _("Permanently")}}
                    </label>
                    <br>
                  </div>
                  <div class="form-group row">
                    <span class="tabbed center_radio">
                      <input type="radio"
                             class="window_open_option"
                             id="windows_open_periodically"
                             name="window_opening_regime"
                             value="windows_open_periodically"
                             onclick="require_fields(this)">
                    </span>
                    <label for="windows_open_periodically" class="col-form-label ml-2 mr-2">
                      {{ _("Periodically: ")}}
                    </label>
                    <br>
                    <input type="number"
                           step="any"
                           id="windows_duration"
                           class="ml-2 non_zero disabled form-control col-sm-3"
                           name="windows_duration"
                           placeholder="{{ _(PLACEHOLDERS.duration)}}"
                           min="1"
                           data-has-radio="#windows_open_periodically"
                           value="{{ default.windows_duration }}">
                    <input type="number"
                           step="any"
                           id="windows_frequency"
                           class="ml-2 non_zero disabled form-control col-sm-3"
                           name="windows_frequency"
                           placeholder="{{ _(PLACEHOLDERS.frequency)}}"
                           min="1"
                           data-has-radio="#windows_open_periodically"
                           value="{{ default.windows_frequency }}">
                  </div>
                  <br>
                </div>
                <div class='sub_title'>
                  {{ _("Bioventilation:")}}
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input type="radio"
                           class="biov_option"
                           id="biov_no"
                           name="biov_option"
                           value="0">
                    <label for="biov_no" class="col-form-label ml-2">
                      {{ _("No")}}
                    </label>
                    <input class="ml-2 biov_option"
                           type="radio"
                           id="biov_yes"
                           name="biov_option"
                           value="1">
                    <label for="biov_yes" class="col-form-label ml-2">
                      {{ _("Yes")}}
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <input type="number"
                           id="biov_amount"
                           class="non_zero form-control"
                           name="biov_amount"
                           placeholder="{{ _(PLACEHOLDERS.flow_rate)}}"
                           min="0"
                           value="{{ default.biov_amount }}"
                           step="1">
                  </div>
                </div>
                <div class="m-2 d-flex justify-content-end">
                  <button type="button" id="delete_room" class="btn btn-danger room_btn_class">
                    {{_("Delete")}}
                  </button>
                </div>
                <hr width="80%">
              </div>
            </div>
            <button type="button" class="btn btn-secondary room_btn_class" onclick="addRoom()">
              {{ _("Add room")}}
            </button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container container--padding">
            <div id="rooms_data_form">
              <h1>
                {{_("People")}}
              </h1>
              <br>
              <div id ="PeopleList">
                <div id="Person_to_clone" class="d-none">
                  <div class="form-group row" id="person_id">
                    <b>{{ _("Person data")}}</b>
                  </div>
                  <br>
                  <div class="form-group row">
                    <div class="split col-sm-12">
                      <label for="person_name">
                        {{ _("Name :")}}
                      </label>
                      <input type="text"
                             step="0.1"
                             id="person_name"
                             class="form-control col-sm-7"
                             value="{{ _(default.name) }}"
                             name="person_name">
                      <label for="number">
                        {{ _("Number:")}}
                      </label>
                      <input type="number"
                             step="1"
                             id="person_number"
                             class="form-control col-sm-3"
                             name="person_number"
                             value="1"
                             min="1">
                    </div>
                  </div>
                  <div class="schedule">
                    <label>
                      {{ _("Schedule")}}:
                    </label>
                    <div class="calendar" id='calendar'>
                    </div>
                    <div class="m-2 d-flex justify-content-end">
                      <button type="button"
                              id="add_event"
                              class="btn btn-primary mr-2"
                              data-target="#eventModal"
                              data-toggle="modal">
                        {{ _("Add event")}}
                      </button>
                      <button type="button" id="delete_person" class="btn btn-danger people_btn_class">
                        {{ _("Delete")}}
                      </button>
                    </div>
                    <hr width="80%">
                    <div class="modal fade"
                         id="eventModal"
                         tabindex="-1"
                         role="dialog"
                         aria-hidden="true">
                      <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newEventTitle">
                              {{ _('New event')}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="peopleBox">
                              <div>
                              <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="col-form-label">
                                      {{ _("Event description (optional) :")}}
                                    </label>
                                  </div>
                                  <div class="col-sm-7 align-self-center">
                                    <input type="text" id="event_description" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="col-form-label">
                                      {{ _("Event location :")}}
                                    </label>
                                  </div>
                                  <div class="col-sm-7">
                                  <select id="event_location" class="form-control event_location">
                                  </select>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="col-form-label">
                                      {{ _("Activity type:")}}
                                    </label>
                                  </div>
                                  <div class="col-sm-7">
                                    <select id="event_activity_type"
                                            class="form-control">
                                      {% set default_event_activity = ACTIVITY_TYPES | selectattr('Id', 'equalto', default.activity) | first %}
                                      <optgroup label="---- {{ _(PLACEHOLDERS.default)}} ----">
                                        <option selected value="{{ default_event_activity.Id }}">
                                          {{ _(default_event_activity.Name)}}
                                        </option>
                                      </optgroup>
                                      {% for group in ACTIVITY_TYPES | map(attribute = 'Group') | unique %}
                                        <optgroup label="---- {{ _(group)}} ----">
                                          {% for activity in ACTIVITY_TYPES | selectattr('Group', 'equalto', group) %}
                                            {% if activity.Id != default.activity %}
                                              <option value="{{ activity.Id }}">
                                                {{ _(activity.Name)}}
                                              </option>
                                            {% endif %}
                                          {% endfor %}
                                        </optgroup>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="d-flex">
                                  <div id="eventExpiration" class='sub_title'>
                                    {{ _("Expiration :")}}
                                  </div>
                                  <div data-tooltip="{{ _(TOOLTIPS.activity_level)}}">
                                    <span class="tooltip_text">?</span>
                                  </div>
                                </div>
                                <div class="split">
                                  <div class="form-group row">
                                    <div class="tabbed mb-0 col-form-label col-sm-2"> {{_("Breathing")}} : </div>
                                    {% if 'Breathing' in default_event_activity.Expiration %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number" id="event_activity_breathing" class="form-control" value="{{ default_event_activity.Expiration['Breathing'] }}" min=0.0 step=0.1 required>
                                      </div>
                                    {% else %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number"
                                               id="event_activity_breathing"
                                               class="form-control"
                                               value="0"
                                               min="0.0"
                                               step="0.1"
                                               required>
                                      </div>
                                    {% endif %}
                                    <div class="tabbed mb-0 col-form-label col-sm-2"> {{_("Speaking")}} : </div>
                                    {% if 'Speaking' in default_event_activity.Expiration %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number" id="event_activity_speaking" class="form-control" value={{ default_event_activity.Expiration['Speaking'] }} min=0.0 step=0.1 required>
                                      </div>
                                    {% else %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number"
                                               id="event_activity_speaking"
                                               class="form-control"
                                               value="0"
                                               min="0.0"
                                               step="0.1"
                                               required>
                                      </div>
                                    {% endif %}
                                    <div class="tabbed mb-0 col-form-label col-sm-2"> {{_("Shouting")}} : </div>
                                    {% if 'Shouting' in default_event_activity.Expiration %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number" id="event_activity_shouting" class="form-control" value={{ default_event_activity.Expiration['Shouting'] }} min=0.0 step=0.1 required>
                                      </div>
                                    {% else %}
                                      <div class="col-sm-2 align-self-center">
                                        <input type="number"
                                               id="event_activity_shouting"
                                               class="form-control"
                                               value="0"
                                               min="0.0"
                                               step="0.1"
                                               required>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                                <div class="form-group row">
                                <div class='sub_title col-sm-5'>
                                  {{ _("Activity level :")}}
                                </div>
                                <div class="col-sm-7">
                                  <select id="event_activity_level"
                                          class="form-control"
                                          required>
                                    <option value = "Seated">
                                      {{ _("Seated")}}
                                    </option>
                                    <option value = "Standing">
                                      {{ _("Standing")}}
                                    </option>
                                    <option value = "Light activity">
                                      {{ _("Light activity")}}
                                    </option>
                                    <option value = "Moderate activity">
                                      {{ _("Moderate activity")}}
                                    </option>
                                    <option value = "Heavy exercise">
                                      {{ _("Heavy exercise")}}
                                    </option>
                                  </select>
                                </div>
                                </div>
                                <div class="split mt-2">
                                  <div>
                                    <label>
                                      {{ _("Start:")}}
                                    </label>
                                    <input type="time" id="event_start" class="start_time" value="{{ default.start }}" required>
                                  </div>
                                  <div>
                                    <label>
                                      {{ _("Finish:")}}
                                    </label>
                                    <input type="time" id="event_finish" class="finish_time" value="{{ default.end }}" required>
                                  </div>
                                </div>
                                    <b>{{_("Face masks:")}} </b>


                                  <div data-tooltip="{{_(TOOLTIPS.face_mask)}}">
                                      <span class="tooltip_text">?</span>
                                  </div>
                                  
                                  <br>
                                  
                                  <div class='sub_title'>{{_("Are masks worn when occupants ?")}} </div>
                                  <input type="radio" class ="mask_wearing_option" name="mask_wearing_option_form" id="mask_on" value="mask_on" onclick="enableMaskSelection()">
                                    <label for="mask_on">{{_("Yes")}} </label>
                                  <input class="ml-2 mask_wearing_option" name="mask_wearing_option_form" type="radio" id="mask_off" value="mask_off" onclick="enableMaskSelection()">
                                    <label for="mask_off">{{_("No")}} </label><br>

                                <div class="form-group row">
                                  <div class="col-sm-5">
                                    <label class="col-form-label">
                                      {{ _("Mask wear ratio:")}}
                                    </label>
                                  </div>
                                  <div class="col-sm-7 align-self-center">
                                    <input type="number" id="event_mask_wear_ratio" class="form-control" min=0.0 max=1.0 value="{{ default.mask_ratio }}" step=0.1 required>
                                  </div>
                                </div>
                                    
                                  <div id="DIVmasks_used">
                                    <div class='sub_title'>{{_("Type of masks used (requested for alternative scenarios):")}} </div>
                                    <div class='split'>
                                      <div>
                                        <input type="radio" class="mask_type_option" name="mask_type_option_form" id="mask_type_1" value="Type_I" onclick="require_fields(this)">
                                          <label for="mask_type_1">
                                          {{_("Surgical/Type I")}}
                                            <img class="mask_icons" src="/static/images/masks/t1.png">
                                          </label>
                                      </div>
                                      <div>
                                        <input type="radio" class="mask_type_option" name = "mask_type_option_form" id="mask_type_ffp2" value="FFP2" onclick="require_fields(this)">
                                          <label for="mask_type_ffp2">
                                          {{_("Respirator/FFP2")}}
                                            <img class="mask_icons" src="/static/images/masks/ffp2.png">
                                          </label>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {{_('Close')}}
                              </button>
                              <button type="button"
                                      id="saveEvent"
                                      class="btn btn-primary">
                                {{_('Save changes')}}
                              </button>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    </div>
                    </div>
                    </div>
                    <button type="button" class="btn btn-secondary mb-2" onclick="addPerson()">
                      {{ _("Add person")}}
                    </button>
                </div>
                <div class="center">
                  <button type="submit" form="covid_calculator" class="btn btn-primary bigButton" id="generate_report">
                    {{ _("Generate report")}}
                  </button>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="warning_modal"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              {{ _("Natural Ventilation")}}
            </h4>
            <button type="button"
                    class="close align-self-center"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{_("Single-sided ventilation is assumed in the model and is typically effective for room depths up to a depth 2.5 x the ceiling height.
            If these conditions are not met, the air exchange might not be homogenous producing an artificially lower risk further away from the window.")}}
            <br>
            <br>
            <img src="/static/images/nat_vent_dimensions.png" id="nat_vent_image">
          </div>
        </div>
      </div>
    </div>
    </form>
  {% endblock main %}
