<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>{{_("Report | FARC (Flow-R Airborne Risk Calculator)")}} </title>
        <link rel="stylesheet" type="text/css" href="/static/css/report.css">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/multi_report.css">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="/static/js/report.js" type="application/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/table2csv.js"></script>    
        <script src="/static/js/multi_report.js"></script>   
    </head>
    <body id="body">
    {% block report_header %}
            <div id="report-header-div" class="d-flex flex-row">
                <img id="report_logo"
                     src="/static/images/Logo_Flow-R_Couleur.jpg"
                     class="d-inline-block align-middle mr-3">
                <div id="reportHeaderTitle" class='align-self-center mr-auto'>
                    <h2 class="header_text mb-0"> 
                        <a href="{{ link.link }}">
                           {{_("REPORT ")}} {{data.report.simulations[0].simulation_name}}
                        </a>
                    </h2>
                    <p class="mb-0" id="report_version">
                      {{_("Created")}} {{ creation_date }} {{_("using FARC")}} v{{ calculator_version }}
                    </p>
                </div>
                <button type="button"
                        class="btn btn-outline-dark align-self-center"
                        id="download-pdf"
                        onclick="print()">
                  {{_("Print Report")}}
                </button>
                <a href="{{ link.link }}"
                   id="pdf_qrcode_aref"
                   class="align-self-center invisible mr-0">
                    <div id="pdf_qrcode"></div>
                </a>
            </div>
        {% endblock report_header %}


    {% block main %}
        <div class="tabs-div">
            <ul class="nav nav-tabs" role="tablist" id="tablistResults">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="results-tab"
                       data-toggle="tab"
                       href="#results"
                       role="tab"
                       aria-controls="results"
                       aria-selected="true">{{_("Results")}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="data-tab"
                       data-toggle="tab"
                       href="#data"
                       role="tab"
                       aria-controls="data"
                       aria-selected="false">{{_("Input Data")}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="explanation-tab"
                       data-toggle="tab"
                       href="#explanation"
                       role="tab"
                       aria-controls="explanation"
                       aria-selected="false">{{_("How it works")}} </a>
                </li>
            </ul>
            <div class="tab-content" id="tabContentResults">
                <div class="tab-pane show active"
                     id="results"
                     role="tabpanel"
                     aria-labelledby="results-tab">
                    {% block report_results %}
                        <div class="card bg-light mb-3" id="results-div">
                            <div class="card-header">
                                <strong>{{_("Results")}}</strong>
                                <button class="icon_button p-0 float-right"
                                        data-toggle="collapse"
                                        href="#collapseResults"
                                        role="button"
                                        aria-expanded="true"
                                        aria-controls="collapseResults">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-chevron-expand"
                                         viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                                    </svg>
                                </button>
                            </div>
                            
                            <div class="collapse show" id="collapseResults">
                                <div class="card-body">
                                    <p class="card-text">
                                        <div class="align-self-center">
                                            <div class="d-flex">
                                                <div class="split">
                                                    <div class="col">
                                                            <div id="DivProbabilityOfInfection">
                                                                    <b>{{_("Average expected new cases if one person is contaminated Raverage :")}} </b>
                                                                        </div>
                                                                        <div id = "divWarning" class="d-flex">
                                                                                {% block warning_animation_mean %}
                                                                                    {% if (mean_expected_cases >= 1) %}
                                                                                        {% set warning_color= 'bg-danger' %}
                                                                                    {% elif (0.5 <= mean_expected_cases <= 1) %}
                                                                                        {% set warning_color = 'bg-warning' %}
                                                                                    {% else %}
                                                                                        {% set warning_color = 'bg-success' %}
                                                                                    {% endif %}
                                                                                    <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                        <b>{{ mean_expected_cases | round(1)}}</b>
                                                                                        <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                        <span class="ripple {{ warning_color }}"></span>
                                                                                        <span class="ripple {{ warning_color }}"></span>
                                                                                        <span class="ripple {{ warning_color }}"></span>
                                                                                    </div>
                                                                                {% endblock warning_animation_mean %}
                                                                            </div>
                                                                            <div>
                                                                            <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Rooms with the highest transmitted virus dose average :")}} </b>
                                                                            </div>
                                                                            <br>
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                    <th scope="col">{{_("Room")}}</th>
                                                                                    <th scope="col">{{_("Average transmitted infectious virus dose")}}</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for key,item in mean_rooms.items() %}
                                                                                    {% if item <= 10 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "success_bkg">{{key}}</td>
                                                                                    <td class = "success_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% elif item > 10 and item <= 25 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "warning_bkg">{{key}}</td>
                                                                                    <td class = "warning_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% else %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "danger_bkg">{{key}}</td>
                                                                                    <td class = "danger_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% endif%}
                                                                                {% endfor %}
                                                                                </tbody>
                                                                                </table>
                                                                                </div>
                                                                                <br>
                                                                                <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Using Flow-R devices in these rooms :")}} </b>
                                                                            </div>
                                                                            <br>
                                                                        <div class="split">
                                                                        <div class="col">
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Raverage :")}} </b>
                                                                                    </div>
                                                                                    <div id = "divWarning" class="d-flex">
                                                                                            {% block warning_animation_mean_alternative_1 %}
                                                                                                {% if (alternative_scenarios.mean[1][0] >= 1) %}
                                                                                                    {% set warning_color= 'bg-danger' %}
                                                                                                {% elif (0.5 <= alternative_scenarios.mean[1][0]  <= 1) %}
                                                                                                    {% set warning_color = 'bg-warning' %}
                                                                                                {% else %}
                                                                                                    {% set warning_color = 'bg-success' %}
                                                                                                {% endif %}
                                                                                                <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                                    <b>{{ alternative_scenarios.mean[1][0]  | round(1)}}</b>
                                                                                                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                </div>
                                                                                    {% endblock warning_animation_mean_alternative_1 %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Rmax :")}} </b>
                                                                                    </div>
                                                                                    <div id = "divWarning" class="d-flex">
                                                                                            {% block warning_animation_worst_alternative_1 %}
                                                                                                {% if (alternative_scenarios.mean[1][1] >= 1) %}
                                                                                                    {% set warning_color= 'bg-danger' %}
                                                                                                {% elif (0.5 <= alternative_scenarios.mean[1][1] <= 1) %}
                                                                                                    {% set warning_color = 'bg-warning' %}
                                                                                                {% else %}
                                                                                                    {% set warning_color = 'bg-success' %}
                                                                                                {% endif %}
                                                                                                <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                                    <b>{{ alternative_scenarios.mean[1][1] | round(1)}}</b>
                                                                                                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                </div>
                                                                                    {% endblock warning_animation_worst_alternative_1 %}
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                        <div>
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Average transmitted virus dose with Flow-R :")}} </b>
                                                                            </div>
                                                                            <br>
                                                                        <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                    <th scope="col">{{_("Room")}}</th>
                                                                                    <th scope="col">{{_("Average transmitted infectious virus dose")}}</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for key in mean_rooms.keys() %}
                                                                                {% if mean_rooms[key] - alternative_scenarios.mean[2][key] <= 0 %}
                                                                                {% set reduction_percentage = 0 %}
                                                                                {% else %}
                                                                                {% set reduction_percentage = (1 - alternative_scenarios.mean[2][key]/mean_rooms[key])*100%}
                                                                                {% endif %}
                                                                                    {% if alternative_scenarios.mean[2][key] <= 10 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "success_bkg">{{key}}</td>
                                                                                    <td class = "success_bkg">{{alternative_scenarios.mean[2][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% elif alternative_scenarios.mean[2][key] > 10 and alternative_scenarios.mean[2][key] <= 25 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "warning_bkg">{{key}}</td>
                                                                                    <td class = "warning_bkg">{{alternative_scenarios.mean[2][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% else %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "danger_bkg">{{key}}</td>
                                                                                    <td class = "danger_bkg">{{alternative_scenarios.mean[2][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% endif%}
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                            </div>
                                                                            <br>
                                                                        </div>
                                                                        <div class="col">
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Maximum expected new cases if one person is contaminated Rmax :")}} </b>
                                                                                    </div>
                                                                                    <div id = "divWarning" class="d-flex">
                                                                                            {% block warning_animation_worst %}
                                                                                                {% if (worst_expected_cases >= 1) %}
                                                                                                    {% set warning_color= 'bg-danger' %}
                                                                                                {% elif (0.5 <= worst_expected_cases <= 1) %}
                                                                                                    {% set warning_color = 'bg-warning' %}
                                                                                                {% else %}
                                                                                                    {% set warning_color = 'bg-success' %}
                                                                                                {% endif %}
                                                                                                <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                                    <b>{{ worst_expected_cases | round(1)}}</b>
                                                                                                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                </div>
                                                                                    {% endblock warning_animation_worst %}
                                                                            </div>
                                                                            <div>
                                                                            <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Rooms with the highest transmitted virus dose in all simulations :")}} </b>
                                                                            </div>
                                                                            <br>
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                    <th scope="col">{{_("Room")}}</th>
                                                                                    <th scope="col">{{_("Max transmitted infectious virus dose")}}</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for key,item in worst_rooms.items() %}
                                                                                    {% if item <= 10 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "success_bkg">{{key}}</td>
                                                                                    <td class = "success_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% elif item > 10 and item <= 25 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "warning_bkg">{{key}}</td>
                                                                                    <td class = "warning_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% else %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "danger_bkg">{{key}}</td>
                                                                                    <td class = "danger_bkg">{{item | round(1)}}</td>
                                                                                    </tr>
                                                                                    {% endif%}
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                            </div>
                                                                            <br>
                                                                            <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Using Flow-R devices in these rooms :")}} </b>
                                                                            </div>
                                                                            <br>
                                                                        <div class="split">
                                                                        <div class="col">
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Raverage :")}} </b>
                                                                                    </div>
                                                                                    <div id = "divWarning" class="d-flex">
                                                                                            {% block warning_animation_mean_alternative_2 %}
                                                                                                {% if (alternative_scenarios.worst[1][0] >= 1) %}
                                                                                                    {% set warning_color= 'bg-danger' %}
                                                                                                {% elif (0.5 <= alternative_scenarios.worst[1][0]  <= 1) %}
                                                                                                    {% set warning_color = 'bg-warning' %}
                                                                                                {% else %}
                                                                                                    {% set warning_color = 'bg-success' %}
                                                                                                {% endif %}
                                                                                                <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                                    <b>{{ alternative_scenarios.worst[1][0]  | round(1)}}</b>
                                                                                                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                </div>
                                                                                    {% endblock warning_animation_mean_alternative_2 %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Rmax :")}} </b>
                                                                                    </div>
                                                                                    <div id = "divWarning" class="d-flex">
                                                                                            {% block warning_animation_worst_alternative_2 %}
                                                                                                {% if (alternative_scenarios.worst[1][1] >= 1) %}
                                                                                                    {% set warning_color= 'bg-danger' %}
                                                                                                {% elif (0.5 <= alternative_scenarios.worst[1][1] <= 1) %}
                                                                                                    {% set warning_color = 'bg-warning' %}
                                                                                                {% else %}
                                                                                                    {% set warning_color = 'bg-success' %}
                                                                                                {% endif %}
                                                                                                <div class="intro-banner-vdo-play-btn {{ warning_color }} m-auto d-flex align-items-center justify-content-center">
                                                                                                    <b>{{ alternative_scenarios.worst[1][1] | round(1)}}</b>
                                                                                                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                    <span class="ripple {{ warning_color }}"></span>
                                                                                                </div>
                                                                                    {% endblock warning_animation_worst_alternative_2 %}
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    <div>
                                                                        <div id="DivProbabilityOfInfection">
                                                                                <b>{{_("Highest transmitted virus dose with Flow-R :")}} </b>
                                                                        </div>
                                                                        <br>
                                                                        <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                    <th scope="col">{{_("Room")}}</th>
                                                                                    <th scope="col">{{_("Max transmitted infectious virus dose")}}</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for key in worst_rooms.keys() %}
                                                                                {% if worst_rooms[key] - alternative_scenarios.worst[3][key] <= 0 %}
                                                                                {% set reduction_percentage = 0 %}
                                                                                {% else %}
                                                                                {% set reduction_percentage = (1 - alternative_scenarios.worst[3][key]/worst_rooms[key])*100%}
                                                                                {% endif %}
                                                                                    {% if alternative_scenarios.worst[3][key] <= 10 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "success_bkg">{{key}}</td>
                                                                                    <td class = "success_bkg">{{alternative_scenarios.worst[3][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% elif alternative_scenarios.worst[3][key] > 10 and alternative_scenarios.worst[3][key] <= 25 %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "warning_bkg">{{key}}</td>
                                                                                    <td class = "warning_bkg">{{alternative_scenarios.worst[3][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% else %}
                                                                                    <tr id="trAlternativeScenario">
                                                                                    <td class = "danger_bkg">{{key}}</td>
                                                                                    <td class = "danger_bkg">{{alternative_scenarios.worst[3][key] | round(1)}} (-{{reduction_percentage| round(1)}}%)</td>
                                                                                    </tr>
                                                                                    {% endif%}
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                            <br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

        <div class="card bg-light mb-3">
            <div class="card-header">
                <strong>{{_("Detailed results - Base scenario")}} </strong>
                <button class="icon_button p-0 float-right"
                        data-toggle="collapse"
                        href="#collapseBaseScenario"
                        role="button"
                        aria-expanded="true"
                        aria-controls="collapseBaseScenario">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-chevron-expand"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                    </svg>
                </button>
            </div>
            <div class="collapse" id="collapseBaseScenario">
                <div class="card-body">
                    <div>
                    <div>
                        <div id="DivProbabilityOfInfection" value='{{_("_base_scenario_rooms")}}'>
                            <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by room :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Room")}}</th>
                                    <th scope="col">{{_("Average infectious virus dose")}}</th>
                                    <th scope="col">{{_("Max infectious virus dose")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, item in base_mean_room_data.items() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{key}}</td>
                                    <td>{{base_mean_room_data[key] | round(1)}}</td>
                                    <td>{{base_worst_room_data[key] | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <br>
                    <div>
                            <div id="DivProbabilityOfInfection" value='{{_("_base_scenario_people")}}'>
                            <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by person :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Infected person")}}</th>
                                    <th scope="col">{{_("Expected new cases")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for simulation in data.report.simulations%}
                                {% set expected_cases = namespace(total_cases=0) %}
                                {% for person in simulation.people %}
                                    {% set expected_cases.total_cases = expected_cases.total_cases + person.infection_probability %}
                                {% endfor %}
                                {% set infected = simulation.get_infected() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{infected.person_name}} {{infected.id}}</td>
                                    <td>{{ expected_cases.total_cases | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card bg-light mb-3">
            <div class="card-header">
                <strong>{{_("Detailed results - Average risk alternative")}} </strong>
                <button class="icon_button p-0 float-right"
                        data-toggle="collapse"
                        href="#collapseAverageScenario"
                        role="button"
                        aria-expanded="true"
                        aria-controls="collapseAverageScenario">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-chevron-expand"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                    </svg>
                </button>
            </div>
        <div class="collapse" id="collapseAverageScenario">
                <div class="card-body">
                    <div>
                    <div>
                        <div id="DivProbabilityOfInfection" value='{{_("_average_scenario_rooms")}}'>
                        <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by room :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Room")}}</th>
                                    <th scope="col">{{_("Average infectious virus dose")}}</th>
                                    <th scope="col">{{_("Max infectious virus dose")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, item in alternative1_mean_room_data.items() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{key}}</td>
                                    <td>{{alternative1_mean_room_data[key] | round(1)}}</td>
                                    <td>{{alternative1_worst_room_data[key] | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <br>
                            <div>
                            <div id="DivProbabilityOfInfection" value='{{_("_average_scenario_people")}}'>
                            <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by person :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Infected person")}}</th>
                                    <th scope="col">{{_("Expected new cases")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for simulation in alternative_scenarios.mean[0].report.simulations%}
                                {% set expected_cases = namespace(total_cases=0) %}
                                {% for person in simulation.people %}
                                    {% set expected_cases.total_cases = expected_cases.total_cases + person.infection_probability %}
                                {% endfor %}
                                {% set infected = simulation.get_infected() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{infected.person_name}} {{infected.id}}</td>
                                    <td>{{ expected_cases.total_cases | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <br>
                        </div>
                    </div>
                </div> 
            </div>
        <div class="card bg-light mb-3">
            <div class="card-header">
                <strong>{{_("Detailed results - Maximum risk alternative")}} </strong>
                <button class="icon_button p-0 float-right"
                        data-toggle="collapse"
                        href="#collapseMaxScenario"
                        role="button"
                        aria-expanded="true"
                        aria-controls="collapseMaxScenario">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-chevron-expand"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                    </svg>
                </button>
            </div>
        <div class="collapse" id="collapseMaxScenario">
                <div class="card-body">
                    <div>
                        <div>
                        <div id="DivProbabilityOfInfection" value='{{_("_max_scenario_rooms")}}'>
                        <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by room :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Room")}}</th>
                                    <th scope="col">{{_("Average infectious virus dose")}}</th>
                                    <th scope="col">{{_("Max infectious virus dose")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, item in alternative2_mean_room_data.items() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{key}}</td>
                                    <td>{{alternative2_mean_room_data[key] | round(1)}}</td>
                                    <td>{{alternative2_worst_room_data[key] | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <br>
                        <div>
                            <div id="DivProbabilityOfInfection" value='{{_("_max_scenario_people")}}'>
                            <button type="button" class="btn btn-link p-0 float-right mr-3">CSV</button>
                            <b>{{_("Results by person :")}} </b>
                        </div>
                        <br>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">{{_("Infected person")}}</th>
                                    <th scope="col">{{_("Expected new cases")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for simulation in alternative_scenarios.worst[0].report.simulations%}
                                {% set expected_cases = namespace(total_cases=0) %}
                                {% for person in simulation.people %}
                                    {% set expected_cases.total_cases = expected_cases.total_cases + person.infection_probability %}
                                {% endfor %}
                                {% set infected = simulation.get_infected() %}
                                    <tr id="trAlternativeScenario">
                                    <td>{{infected.person_name}} {{infected.id}}</td>
                                    <td>{{ expected_cases.total_cases | round(1)}}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <br>
                        </div>
                    </div>
                </div> 
            </div>
                {% endblock report_results%}

{% block report_footer %}
        <div class="card bg-light mb-3" id="link-results">
            <div class="card-header">
                <strong>{{_("Link to reproduce results")}}</strong>
                <button class="icon_button p-0 float-right"
                        data-toggle="collapse"
                        href="#collapseQRcode"
                        role="button"
                        aria-expanded="true"
                        aria-controls="collapseQRcode">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-chevron-expand"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                    </svg>
                </button>
            </div>
            <div class="collapse" id="collapseQRcode">
                <div class="card-body">
                    <div class="text-center">
                        <button id="mobile_link"
                                class="btn btn-primary btn-sm d-none"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Copy to clipboard"
                                onclick="copy_clipboard('{{ link.link }}');">
                            {{_("Click to copy a shareable link")}}
                        </button>
                    </div>
                    <div id="link_reproduce_results" class="split">
                        <div>
                            <a href="{{ link.link }}" id="qrLink">
                                <div id="qrcode">
                                </div>
                            </a>
                        </div>
                        <div class="align-self-center">
                            <span id="SpanQR">
                                <p id="pQR">
                                    {{_("Click the QR code to regenerate the report and get a shareable link.")}}
                                    <br>
                                    {{_("Alternatively, scan to regenerate the report.")}}
                                    <br>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock report_footer %}


<div class="tab-pane" id="data" role="tabpanel" aria-labelledby="data-tab">
                    {% block data %}

                            <div class="card">
                                <div class="card-header">
                                    <strong>{{_("General options :")}} </strong>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>{{_("Simulation name : ")}}{{data.report.simulations[0].simulation_name}}</li>
                                    </ul>
                                    <ul>
                                        <li>{{_("Virus variant : ")}}{{_(default.viruses[data.report.simulations[0].virus_type])}}</li>
                                    </ul>
                                    <ul>
                                        <li>{{_("Location name : ")}}{{data.report.simulations[0].location_name}}</li>
                                    </ul>
                                    <ul>
                                        <li>{{_("Event month : ")}}{{_(data.report.simulations[0].event_month)}}</li>
                                    </ul>
                                    <ul>
                                        <li>{{_("Description : ")}}{{data.report.simulations[0].simulation_description}}</li>
                                    </ul>
                                </div>
                            </div>
                            <br>


                            <div class="card">
                                <div class="card-header">
                                    <strong>{{_("Base scenario room input data:")}} </strong>
                                </div>
                                <div class="card-body">
                                <br> 
                                {% for room in data.report.simulations[0].rooms %}
                                <div id="DivProbabilityOfInfection">
                                    <b>{{room.id}}-{{room.type_name}} </b>
                                </div>
                                <br>
                                    <table class="table table-striped">
                                        <tbody>
                                                <tr>
                                                    <th class = "th-data">Id</th>
                                                    <td class = "td-data">{{room.id}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Name")}}</th>
                                                    <td class = "th-data">{{room.type_name}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Volume")}}</th>
                                                    <td class = "th-data">{{room.room_volume}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Temperature")}}</th>
                                                    <td class = "th-data">{{room.ventilation.inside_temp}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Room heating option")}}</th>
                                                    <td class = "th-data">{{room.ventilation.room_heating_option}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Humidity")}}</th>
                                                    <td class = "th-data">{{room.humidity}}</td>
                                                </tr>
                                                {% if room.ventilation.ventilation_type == "natural_ventilation" %}
                                                <tr>
                                                    <th class = "th-data">{{_("Ventilation type")}}</th>
                                                    <td class = "th-data">{{_("Natural ventilation")}}</td>
                                                </tr>
                                                {% if room.ventilation.window_opening_regime == "windows_open_periodically" %}
                                                <tr>
                                                    <th class = "th-data">{{_("Window opening regime")}}</th>
                                                    <td class = "th-data">{{_("Windows open periodically")}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Window duration")}}</th>
                                                    <td class = "th-data">{{room.ventilation.windows_duration}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Window frequency")}}</th>
                                                    <td class = "th-data">{{room.ventilation.windows_frequency}}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th class = "th-data">{{_("Window opening regime")}}</th>
                                                    <td class = "th-data">{{_("Windows open permanently")}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if room.ventilation.window_type == "window_sliding" %}
                                                <tr>
                                                    <th class = "th-data">{{_("Window type")}}</th>
                                                    <td class = "th-data">{{_("Window sliding")}}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th class = "th-data">{{_("Window type")}}</th>
                                                    <td class = "th-data">{{_("Window hinged")}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Window width")}}</th>
                                                    <td class = "th-data">{{room.ventilation.window_width}}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <th class = "th-data">{{_("Window height")}}</th>
                                                    <td class = "th-data">{{room.ventilation.window_height}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Window number")}}</th>
                                                    <td class = "th-data">{{room.ventilation.windows_number}}</td>
                                                </tr>
                                                <tr>
                                                    <th class = "th-data">{{_("Window opening distance")}}</th>
                                                    <td class = "th-data">{{room.ventilation.opening_distance}}</td>
                                                </tr>
                                            {% elif room.ventilation.ventilation_type == "mechanical_ventilation" %}
                                                <tr>
                                                    <th class = "th-data">{{_("Ventilation type")}}</th>
                                                    <td class = "th-data">{{_("Mechanical ventilation")}}</td>
                                                </tr>
                                                {% if room.ventilation.mechanical_ventilation_type == "mech_type_air_supply" %}
                                                <tr>
                                                    <th class = "th-data">{{_("Air supply")}}</th>
                                                    <td class = "th-data">{{room.ventilation.air_supply}}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th class = "th-data">{{_("Air changes")}}</th>
                                                    <td class = "th-data">{{room.ventilation.air_changes}}</td>
                                                </tr>
                                                {% endif%}
                                            {% else %}
                                                <tr>
                                                    <th class = "th-data">{{_("Ventilation type")}}</th>
                                                    <td class = "th-data">{{_("No ventilation")}}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                    <th class = "th-data">{{_("Biov option")}}</th>
                                                    <td class = "th-data">{{(room.ventilation.biov_option)}}</td>
                                            </tr>
                                            {% if room.ventilation.biov_option %}
                                            <tr>
                                                    <th class = "th-data">{{_("Biov option")}}</th>
                                                    <td class = "th-data">{{room.ventilation.biov_amount}}</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <br>
                                {% endfor%}     
                        </div>
                    </div>
                    <br>
                    <div class="card">
                                <div class="card-header">
                                    <strong>{{_("Base scenario people input data :")}} </strong>
                                </div>
                                <div class="card-body">
                                    {% for person in data.report.simulations[0].people %}
                                    <div id="DivProbabilityOfInfection">
                                        <b>{{person.id}}-{{person.person_name}} ({{_("Number : ")}}{{person.person_number | int}}) </b>
                                    </div>
                                    <div>
                                        <strong>{{_("Schedule :")}} </strong>
                                    </div>
                                    <br>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th scope="col">{{_("Start")}}</th>
                                            <th scope="col">{{_("End")}}</th>
                                            <th scope="col">{{_("Location")}}</th>
                                            <th scope="col">{{_("Mask type")}}</th>
                                            <th scope="col">{{_("Mask ratio")}}</th>
                                            <th scope="col">{{_("Activity")}}</th>
                                            <th scope="col">{{_("Activity level")}}</th>
                                            <th scope="col">{{_("Breathing")}}</th>
                                            <th scope="col">{{_("Speaking")}}</th>
                                            <th scope="col">{{_("Shouting")}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for event in person.schedule.events %}
                                            <tr>
                                            <td>{{time_minutes_to_string((event.start*60)|int)}}</td>
                                            <td>{{time_minutes_to_string((event.end*60)|int)}}</td>
                                            <td>{{event.location.id}}-{{event.location.type_name}}</td>
                                            {% if event.event_mask_wearing_option == "mask_on"%}
                                                <td>{{event.mask_type}}</td>
                                                <td>{{event.mask_ratio}}</td>
                                            {% else %}
                                                <td>{{_("No mask")}}</td>
                                                <td>Ø</td>
                                            {% endif %}
                                            {% set event_activity = ACTIVITY_TYPES | selectattr('Id', 'equalto', event.activity) | first %}
                                            <td>{{_(event_activity['Name'])}}</td>
                                            <td>{{_(event.event_activity_level)}}</td>
                                            <td>{{_(event.event_activity_breathing)}}</td>
                                            <td>{{_(event.event_activity_speaking)}}</td>
                                            <td>{{_(event.event_activity_shouting)}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endfor %}
                                </div>
                            </div>
                        <br>
                        <div class="card">
                                <div class="card-header">
                                    <strong>{{_("Alternative 1 (average risk) ventilation proposal :")}} </strong>
                                </div>
                                <div class="card-body">
                                {% set simulation = alternative_scenarios.mean[0].report.simulations[0] %}
                                {% for room in simulation.rooms %}
                                {% if room.ventilation.biov_option %}
                                <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th scope="col">{{_("Room id")}}</th>
                                            <th scope="col">{{_("Room name")}}</th>
                                            <th scope="col">{{_("Previous biov amount")}}</th>
                                            <th scope="col">{{_("New biov amount")}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td>{{room.id}}</td>
                                            <td>{{room.type_name}}</td>
                                            {% set old_simulation = data.report.simulations[0] %}
                                            {% if old_simulation.get_room_by_id(room.id).ventilation.biov_option%}
                                                <td>{{old_simulation.get_room_by_id(room.id).ventilation.biov_amount | int}}</td>
                                            {% else %}
                                                 <td>0</td>
                                            {% endif %}
                                            <td>{{room.ventilation.biov_amount | int}}</td>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        <br>
                        <div class="card">
                                <div class="card-header">
                                    <strong>{{_("Alternative 2 (maximum risk) ventilation proposal :")}} </strong>
                                </div>
                                <div class="card-body">
                                {% set simulation = alternative_scenarios.worst[0].report.simulations[0] %}
                                {% for room in simulation.rooms %}
                                {% if room.ventilation.biov_option %}
                                <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th scope="col">{{_("Room id")}}</th>
                                            <th scope="col">{{_("Room name")}}</th>
                                            <th scope="col">{{_("Previous biov amount")}}</th>
                                            <th scope="col">{{_("New biov amount")}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td>{{room.id}}</td>
                                            <td>{{room.type_name}}</td>
                                            {% set old_simulation = data.report.simulations[0] %}
                                            {% if old_simulation.get_room_by_id(room.id).ventilation.biov_option%}
                                                <td>{{old_simulation.get_room_by_id(room.id).ventilation.biov_amount | int}}</td>
                                            {% else %}
                                                 <td>0</td>
                                            {% endif %}
                                            <td>{{room.ventilation.biov_amount | int}}</td>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                </div>
{% endblock data %}

<div class="tab-pane" id="explanation" role="tabpanel" aria-labelledby="data-tab">

                            <div class="card">
                                <div class="card-body">
                                <p>
                                {{_("FARC expert calculator uses CARA base model to calculate the report. The calculator iterates through people in the simulation and assumes each person is infected in turn. The day is then divided into basic events using schedules. 
                                    The report displays two approaches: average risk and maximum risk.
                                    The average risk column displays the average number of expected new cases if someone is infected.
                                    The maximum number of expected new cases is the largest number of people a contaminated person can infect. To find out which person is the most dangerous, it is possible to consult detailed results.")
                                }} 
                                <br><br>
                                {{_("Concerning rooms, two pieces of information are given: the average quantity of virus absorbed by healthy people, and the maximum quantity. 
                                    These two pieces of information are complementary: if for example only 2 people stay all day in a room, the average quantity of virus transmitted will be low. But in case of contamination of one of the 2 persons, the quantity of virus transmitted will be high and this information will only be visible with the maximum quantity of virus transmitted in the room.")}}
                                
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

        <script type="text/javascript">
            //Enable tooltip
            $('[data-toggle="tooltip"]').tooltip();

            new QRCode(document.getElementById("qrcode"), {
                text: "{{link.link }}",
                width: 330,
                height: 330,
                correctLevel : QRCode.CorrectLevel.L
            });
            new QRCode(document.getElementById("pdf_qrcode"), {
                text: "{{link.link }}",
                width: 133,
                height: 133,
                correctLevel : QRCode.CorrectLevel.L
            });
        </script>

{% block disclaimer_container %}
    <br>
    <br>
    <br>
    <div id="disclaimer" class="rounded">
        {% block disclaimer %}
            <p class="image"> <img align="middle" src="/static/images/disclaimer.jpg" width="40" height="40"><b>{{_("Disclaimer:")}}</b><br><br></p>
            {{ text_blocks['Disclaimer'] }}
        {% endblock disclaimer %}
    </div>
{% endblock disclaimer_container %}
{% endblock main %}