{% extends "layout.html.j2" %}

{% set DEBUG=False %}
{% set active_page="multi_room/" %}

{% block extra_headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/multi_room.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
{% endblock extra_headers %}

{% block body_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="/static/js/multi_room_form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock body_scripts %}


{%block main%}

<ul class="nav justify-content-center">
  <li class = "nav-item"><a data-toggle="pill" href="#rooms_data_form">Rooms</a></li>
  <li class = "nav-item"><a data-toggle="pill" href="#people_data_form">People</a></li>
</ul>

<div class="tab-content" id="myTabContent">
<div id="rooms_data_form" class="tab-pane fade show active">

<h1>Rooms</h1>
<form action="" method="get">
<div>
<div class="RoomForm">
<table>
<tbody><tr><th>Id</th><th>Name</th><th>Volume</th><th>Humidity</th><th>Temperature</th><th>Ventilation type</th><th></th><th></th><th>Duration</th><th>Frequency</th></tr>
<tr>
  <td><div>0</div>
  <td><input type="text" name="name[0]"></td>
  <td><input type="text" name="volume[0]"></td>
  <td><input type="text" name="humidity[0]"></td>
  <td><input type="text" name="temperature[0]"></td>
  <td><input type="radio" name="ventilation[0]">No ventilation</td>
  <td><input type="radio" name="ventilation[0]">Mechanical</td>
  <td><input type="radio" name="ventilation[0]">Natural</td>
  <td><input type="text" name="duration[0]"></td>
  <td><input type="text" name="frequency[0]"></td>
</tr>
</tbody></table>
<table>
<tbody><tr><th>Window height</th><th>Window width</th><th>Window number</th><th>Window opening regime</th><th></th><th>Opening distance</th><th>Month</th><th></th></tr>
<tr>
  <td><input type="text" name="height[0]"></td>
  <td><input type="text" name="width[0]"></td>
  <td><input type="text" name="number[0]"></td>
  <td><input type="radio" name="openingRegime[0]">Periodically</td>
  <td><input type="radio" name="openingRegime[0]">Permanently</td>
  <td><input type="text" name="openingDistance[0]"></td>
  <td><input type="text" name="month[0]"></td>
  <td><input type="checkbox" name="openingRegime[0]">Room heating</td>
</tr>
</tbody></table>
<table>
<tbody><tr><th>Air supply</th><th></th><th>Biov Amount</th></tr>
<tr>
  <td><input type="text" name="airSupply[0]"></td>
  <td><input type="checkbox" name="biovOption[0]">Biov option</td>
  <td><input type="text" name="biovAmount[0]"></td>
</tr>
</tbody></table>
<br>
<div class="d-flex justify-content-center">------------------------------------------------------------------------------------------------------------------</div>
</div>
</div>

<div><input type="submit"></div>

<div><a onclick="addRoom(); return false;" href="#">Add Row</a></div>

</form>

</div>


<div id="people_data_form" class="tab-pane fade">
    <h1>People</h1>
    <form action="" method="get">
    <div>
    <div class="PeopleForm">
    <table>
    <tbody><tr><th>Id</th><th>Name</th><th>Role</th><th>Number</th></tr>
    <tr>
      <td><div>0</div>
      <td><input type="text" name="name[0]"></td>
      <td><input type="text" name="role[0]"></td>
      <td><input type="text" name="number[0]"></td>
    </tr>
    </tbody></table>
    <br>
    <div class="schedule"> 
    <div id='calendar'></div>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#eventModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
    </button>

    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="split">
              <div>
                <label class="tabbed mb-0">Start:</label>
                <input type="time" id="event_start" class="start_time" value="08:30" required="">
              </div>
              <div>
                <label class="tabbed mb-0">End: </label>
                <input type="time" id="event_finish" class="finish_time" value="17:30" required="">
              </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-4"><label class="col-form-label">{{_("Activity:")}}</label></div>
            <div class="col-sm-6">
                <select id="infected_activity_type" name="infected_activity_type" class="form-control">
                      {% set default_infected_activity = ACTIVITY_TYPES | selectattr('Id', 'equalto', default.infected_activity_type) | first %}
                    <optgroup label="---- {{PLACEHOLDERS.default}} ----">
                      <option selected value="{{default_infected_activity.Id}}">{{default_infected_activity.Name}}</option>
                    </optgroup>
                  {% for group in ACTIVITY_TYPES | map(attribute = 'Group') | unique %}
                      <optgroup label="---- {{group}} ----">
                        {%for activity in ACTIVITY_TYPES | selectattr('Group', 'equalto', group) %}
                          {% if activity.Id != default.infected_activity_type %}
                            <option value="{{activity.Id}}">{{activity.Name}}</option>
                          {% endif %}
                      {%endfor%}
                      </optgroup>
                      {%endfor%}
                      </select>
                </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-4"><label class="col-form-label">{{_("Room id:")}}</label></div>
            <div class="col-sm-6">
              <input type="number" step="any" id="roomid" class="non_zero form-control" min="0"  value="0" required="">
                </div>
            </div>
              
            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class="d-flex justify-content-center">------------------------------------------------------------------------------------------------------------------</div>
    </div>
    </div>

    <div><input type="submit"></div>

    <div><a onclick="addPerson(); return false;" href="#">Add Row</a></div>

    </form>
</div>
</div>


{%endblock main%}