{% extends "layout.html.j2" %}

{% set DEBUG=False %}
{% set active_page="multi_room/" %}

{% block extra_headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/multi_room.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
{% endblock extra_headers %}

{% block body_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="/static/js/multi_room_form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock body_scripts %}


{%block main%}

<ul class="nav justify-content-center">
  <li class = "nav-item"><a data-toggle="pill" href="#rooms_data_form">Rooms</a></li>
  <li class = "nav-item"><a data-toggle="pill" href="#people_data_form">People</a></li>
</ul>

<div class="tab-content" id="myTabContent">
<div id="rooms_data_form" class="tab-pane fade show active">

<h1>Rooms</h1>
<form action="" method="get">
<div id="RoomList">

</div>

<div><a onclick="addRoom(); return false;" href="#">Add Row</a></div>

<div><input type="submit"></div>

</form>

</div>


<div id="people_data_form" class="tab-pane fade">
    <h1>People</h1>
    <form action="" method="get">
    <div id ="PeopleList">
    
    </div>

    <div><a onclick="addPerson(); return false;" href="#">Add Row</a></div>

    <div><input type="submit"></div>

    </form>
</div>
</div>


{%endblock main%}